/*The viewport breakpoints are : 1-> 1000px ,2->     ,3->      ,4->        ,5->*/

/* Media query for viewport width 1000px they will come in effect,
when the viewport size is above the aforementioned value */

/* root variables */

@media (min-width: 1000px) {
  :root {
    --fs-h1: 4rem;
    --fs-h2: 3.25rem;
    --fs-h3: 2rem;
    --fs-title: 4rem;
    --fs-body: 1.125rem;
  }
}

/* media queries for navigation bar logo */

@media (min-width: 1000px) {
  .logo {
    padding: 2em 0 0 0;
    background-color: #020008;
    line-height: 0;
    width: 250px;
  }
}

/* Navigation bar  */

@media (min-width: 1000px) {
  header {
    display: flex;
    align-items: stretch;
    background-color: #080808;
    justify-content: flex-start;
  }
  nav {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: stretch;
    width: 100%;
  }
  .nav__list {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }
}

/* END Navigation Bar */

/* Media query for Intro */
@media (min-width: 1000px) {
  .intro {
    flex-flow: row;
    justify-content: space-evenly;
    margin: 6em 0;
  }
}
/* END Media query for Intro */

/* Media query for Skills */
@media (min-width: 1000px) {
  .my-skills__body {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
  }

  .section__div--skills-des {
    width: 45vw;
    margin: 0 1em 0 1em;
  }

  .section__div--skills-bar {
    width: 55vw;
    padding-left: 2em;
  }

  .background_bar {
    width: 45vw;
  }
}
/* END Media query for Skills */

@media (min-width: 1000px) {
  .div-group {
    flex-flow: row;
  }

  .section__image--about-me {
    width: 90%;
    height: 100%;
  }
}

@media (min-width: 1000px) {
  .section__image--portfolio {
    width: 27vw;
  }

  .portfolio__item:hover .section__image--portfolio {
    width: 30vw;
  }
}

@media (min-width: 1000px) {
  #back_to_top {
    opacity: 0.2;
    width: 100px;
  }

  #back_to_top:hover {
    opacity: 1;
    width: 105px;
  }
}
